.view{
    background-color: rgb(73, 96, 40);
    width: 50%;
    margin: 0 auto;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px green;
}

span{
    width: 100%;
    display: list-item;
    list-style: none;
    padding: 0.5rem;
    /* border-bottom: solid 2px white; */
   
}
button{
    background-color: snow;
    width: 40%;
    font-weight: bold;
    color: green;
}

.userContents{
    border: white 2px solid;
    width: 100%;
    margin: 5px;
    border-radius: 7px;
}